body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

    
.grid-container{
    grid-template-columns: 320px 1fr;
    justify-content: space-between;
    display: grid;
    grid-template-areas: "grid-item-left grid-item-right";
    height: 100vh;
}

.grid-item-left{
    grid-area: grid-item-left;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 320px;
    border-right: 15px solid #efefef;
}
.grid-item-right{
    grid-area: grid-item-right;
}

.grid-item-left .grid-left-templates {
    overflow: hidden;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  
}

.grid-container .top-nav-bar{
    display: none;
}

.grid-left-templates .grid-left-template {
    
}

.grid-left-templates .grid-left-template .profil{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.profil, .infos, .menu-nav {
    text-align: center;
}
.grid-left-templates .profil{

}
.grid-left-templates .menu{
    justify-self: center;
}
.grid-item-left .grid-left-templates .social-icon{

    justify-self: center;
}
.profil-picture img{
    padding-top: 15px;
    width: 150px;
    border-radius: 50%;
}
.infos .author-name{
    padding-top: 10px;
    font-size: 30px;
}
.infos .author-profession{
    padding-top: 10px;
    font-size: 15px;
    color: gray;
}

.menu .menu-nav{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
   cursor: pointer;
   /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 33%); */
 
}
.menu .menu-nav li{
    
    flex: 1;
    font-weight: bold;
    font-size: 1rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding-top: 13px;
    
}
.menu .menu-nav li:hover{
   border-right: 3px solid rgb(186, 186, 21);
   background-color: #efefef;

}

.grid-item-left .grid-left-templates .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    gap: 20px;
}

.social-icon .google-icon {
    border: 1px solid #efefef;
    background-color: #efefef;
    padding: 10px;
}
.social-icon .facebook-icon{
    background-color: #efefef;
    border: 1px solid #efefef;
    padding: 10px 15px;
}
.social-icon .x-icon{
    background-color: #efefef;
    border: 1px solid #efefef;
    padding: 10px 13px;
}
.social-icon .x-icon:hover,
.social-icon .google-icon:hover,
.social-icon .facebook-icon:hover {
    background-color: gray;
    font-size: 17px;
}

/* **********************MENU RIGHT************************ */

.grid-item-right{
    position: relative;
    background-image: url('/assets/images/Home-background/Home_background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
.grid-item-right::before{
    background-color: gray;
}
.grid-item-right .grid-item-2{
    position: absolute;
    display: grid;
    grid-template-rows: 50px 30px 200px;
    gap: 10px;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-item-right .grid-item-2 .dev-name{
    margin-left: 50px;
    font-size: 2.7rem;
    
}
.grid-item-right .grid-item-2 .dev-skills{
    padding-left: 70px;
    font-size: 1rem;
}
.grid-item-right .grid-item-2 .address-container{
  padding-left: 50px;
   display: grid;
   grid-template-rows: 20px 20px 20px 20px 20px;
    gap: 20px;
   margin-top: 10px;
   
   font-size: 1.1rem;
}
.grid-item-2 .address-container .dev-age{
    flex: 1;
    display: flex;
    gap: 15px;
}
.grid-item-2 .address-container .dev-address{
    flex: 1;
    display: flex;
    gap: 15px;
}
.grid-item-2 .address-container .dev-email{
    flex: 1;
    display: flex;
    gap: 15px;
}
.grid-item-2 .address-container .dev-phone{
    flex: 1;
    display: flex;
    gap: 15px;
}
.grid-item-2 .address-container .dev-status{
    flex: 1;
    display: flex;
    gap: 15px;
}

.dev-age .age,
.dev-address .address,
.dev-email .email,
.dev-phone .phone,
.dev-status .status{
    border-bottom: 1px solid yellow;
    padding: 0;
}

.grid-item-left .nav-mobile{
    display: none;
}





@media screen and (max-width: 700px) {

    .grid-container{
        display: grid;
        overflow: auto;
        grid-template-rows: 50px 1fr;
        grid-template-areas: "top-nav-bar top-nav-bar"
                             "grid-item-right grid-item-right";
        height: 100vh;
    }

    .grid-container .top-nav-bar{
        display: grid;
    }

    .top-nav-bar{
        position: sticky;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 33%);
        z-index: 100;
        grid-area: top-nav-bar;
        width: 100%;
        height: 50px;
        top: 0;
        background-color: #ffff;

    }
    
    .grid-container .top-nav-bar .nav-mobile{
        justify-content: space-between;
        padding: 0 15px;
        display: flex;
        align-items: center;
        font-size: 22px;
        color: gray;
    }
    .grid-container .top-nav-bar .nav-mobile i{
        cursor: pointer;
    }
    
    .grid-item-right{
        grid-area: grid-item-right;
        height: 100vh;
    }

}